<div class="card flex flex-col justify-center mb-4 gap-4">
  <!-- Input para filtrar por cédula -->
  <div *ngIf="isCategorySelected('C')">
    <input 
      type="text" 
      placeholder="Buscar por cédula" 
      (input)="onCedulaInputChange($event)" 
      [(ngModel)]="cedulaTerm"
      class="autocomplete-input"
    />
  </div>

  <!-- Input para filtrar por nombre -->
  <div *ngIf="isCategorySelected('N')">
    <input 
      type="text" 
      placeholder="Buscar por nombre" 
      (input)="onNameInputChange($event)" 
      [(ngModel)]="nameTerm"
      class="autocomplete-input"
    />
  </div>

  <!-- Dropdown para seleccionar Programa -->
  <div *ngIf="isCategorySelected('P')">
    <select (change)="onProgramaChange($event)" [(ngModel)]="selectedPrograma" class="autocomplete-input">
      <option value="">Seleccionar Programa</option>
      <option *ngFor="let programa of programas" [value]="programa">{{ programa }}</option>
    </select>
  </div>

  <!-- Dropdown para seleccionar Unidad -->
  <div *ngIf="isCategorySelected('U')">
    <select (change)="onUnidadChange($event)" [(ngModel)]="selectedUnidad" class="autocomplete-input">
      <option value="">Seleccionar Unidad</option>
      <option *ngFor="let unidad of unidades" [value]="unidad">{{ unidad }}</option>
    </select>
  </div>

  <!-- Input para filtrar por fecha -->
  <div *ngIf="isCategorySelected('F')">
    <input 
      type="date" 
      (change)="onDateChange($event)" 
      class="autocomplete-input"
    />
  </div>
</div>
