<div class="main-container">
  <div class="left-section">
    <div class="check-container">
      <app-check (selectedCategoriesChange)="onSelectedCategoriesChange($event)"></app-check>
    </div>
  </div>

  <div class="right-section">
    <!-- Componente para cargar el archivo Excel -->
    <app-cargar-excel (dataEmit)="onExcelDataReceived($event)"></app-cargar-excel>

    <app-filtro 
    [programas]="programas" 
    [unidades]="unidades"
    [selectedCategories]="selectedCategories"
    (nameSearchEvent)="onNameSearch($event)"
    (cedulaSearchEvent)="onCedulaSearch($event)"
    (programaSearchEvent)="onProgramaSearch($event)"
    (unidadSearchEvent)="onUnidadSearch($event)"
    (dateSearchEvent)="onDateSearch($event)">
  </app-filtro>
  

    <app-tabla [estudiantes]="filteredStudents"></app-tabla>
  </div>
</div>
